openapi: 3.1.0
info:
  title: Akta Company News API
  summary: Company news monitoring endpoint for Akta by Wokelo AI.
  description: |
    Akta provides structured company news monitoring with AI-generated summaries
    and article metadata.

    This repository documents the currently exposed Akta company news endpoint.
  version: 1.0.0
  contact:
    name: Wokelo AI
    url: https://akta.wokelo.ai/
  license:
    name: Proprietary
servers:
  - url: https://api.akta.pro
    description: Production
security:
  - apiKeyAuth: []
tags:
  - name: Company News
    description: Structured company news monitoring.
paths:
  /api/v1/company/news/:
    get:
      operationId: getCompanyNews
      tags:
        - Company News
      summary: Fetch company news
      description: |
        Returns recent news articles for a company. The `company` query can be a
        company slug such as `tesla` or a company website URL such as
        `https://www.tesla.com/`.
      parameters:
        - $ref: '#/components/parameters/Company'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/BlacklistedDomainsCsv'
      responses:
        '200':
          description: Company news returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyNewsResponse'
              examples:
                companyNews:
                  $ref: '#/components/examples/CompanyNewsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued for an Akta account.
  parameters:
    Company:
      name: company
      in: query
      required: true
      description: Company slug or company website URL.
      schema:
        type: string
      examples:
        slug:
          value: wokelo-ai
        website:
          value: https://www.tesla.com/
    StartDate:
      name: start_date
      in: query
      required: false
      description: Start date for the requested news window.
      schema:
        type: string
        format: date
      example: 2026-05-01
    EndDate:
      name: end_date
      in: query
      required: false
      description: End date for the requested news window.
      schema:
        type: string
        format: date
      example: 2026-05-06
    Limit:
      name: limit
      in: query
      required: false
      description: Number of articles to return. Default is 10 and the maximum is 1000.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 1000
      example: 10
    Offset:
      name: offset
      in: query
      required: false
      description: Number of articles to skip before returning results.
      schema:
        type: integer
        default: 0
        minimum: 0
      example: 0
    Category:
      name: category
      in: query
      required: false
      description: Category filter accepted by the API.
      schema:
        type: string
    BlacklistedDomainsCsv:
      name: blacklisted
      in: query
      required: false
      description: Comma-separated publisher domains to suppress from results.
      schema:
        type: string
      example: example.com,anotherpublisher.com
  schemas:
    CompanyNewsResponse:
      type: object
      additionalProperties: true
      required:
        - data
        - count
      properties:
        status:
          type: string
          description: Response status when returned by the API.
          example: success
        data:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsArticle'
        count:
          type: integer
          description: Number of records included in this response.
          example: 1
        total:
          type: integer
          description: Total number of matching records when returned by the API.
          example: 1
        limit:
          type: integer
          description: Effective result limit.
          example: 10
        offset:
          type: integer
          description: Effective result offset.
          example: 0
    CompanyNewsArticle:
      type: object
      additionalProperties: true
      required:
        - ai_summary
        - url
        - title
      properties:
        id:
          type: integer
          description: News article identifier.
          example: 10633767
        ai_summary:
          type: string
          description: AI-generated article summary.
        type:
          type: string
          description: Primary event or news type.
          example: Secondary Transactions
        url:
          type: string
          format: uri
          description: Source article URL.
        title:
          type: string
          description: Article title.
        company_name:
          type: string
          description: Primary company associated with the article.
          example: Tesla
        company_names:
          type: array
          description: Related companies or entities identified in the article.
          items:
            $ref: '#/components/schemas/CompanyReference'
        publisher:
          type: string
          description: Publisher or publication label.
          example: defenseworld
        published_date:
          type: string
          description: Publication timestamp returned by the API.
          example: 2026-03-23 10:52:44
        source:
          type: string
          description: Data source label.
          example: Wokelo
        author:
          type: string
          description: Article author when available.
          example: Defense World Staff
        countries:
          type: array
          description: Country labels associated with the article.
          items:
            type: string
          example:
            - USA
        sentiment:
          type: string
          description: Article sentiment label.
          example: Neutral
        primary_tag:
          type: string
          description: Primary categorization tag.
          example: Secondary Transactions
        secondary_tags:
          type: array
          description: Additional categorization tags.
          items:
            type: string
          example:
            - Earnings Releases
            - Revenue & Growth Metrics
        original_language:
          type: string
          description: Original article language code when available.
          example: EN
        newsworthiness_impact:
          type: string
          description: Importance or impact label.
          example: Medium
        primary_industry:
          type: string
          description: Primary industry classification when returned by the API.
          example: Industrial Automation & Robotics
        secondary_industry:
          type: string
          description: Secondary industry classification when returned by the API.
          example: Private Capital Markets
    CompanyReference:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: Company name.
          example: Tesla
        website:
          type: string
          format: uri
          description: Company website URL when available.
          example: https://www.tesla.com/
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
          description: Error message returned by the API.
          example: An unexpected error occurred. Please try again later.
        status:
          type: string
          description: Error status label when returned by the API.
          example: error
        message:
          type: string
          description: Human-readable error message.
          example: Request could not be processed.
        detail:
          type: string
          description: Error detail returned by the API.
          example: Invalid request parameters.
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missingApiKey:
              value:
                detail: Missing API key
            invalidApiKey:
              value:
                detail: Invalid API key
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  examples:
    CompanyNewsResponse:
      summary: Company news response
      value:
        status: success
        data:
          - ai_summary: Nordea Investment Management AB reduced its stake in Tesla, Inc. by 8.4% in the fourth quarter, according to its SEC filing.
            type: Secondary Transactions
            url: https://www.defenseworld.net/2026/03/23/nordea-investment-management-ab-lowers-position-in-tesla-inc-tsla.html
            title: Nordea Investment Management AB Lowers Position in Tesla, Inc. $TSLA
            company_name: Tesla
            publisher: defenseworld
            published_date: 2026-03-23 10:52:44
            source: Wokelo
            author: Defense World Staff
            countries:
              - USA
            sentiment: Neutral
            primary_tag: Secondary Transactions
            original_language: EN
            secondary_tags:
              - Earnings Releases
              - Revenue & Growth Metrics
              - Guidance & Forecast Revisions
            newsworthiness_impact: Medium
            primary_industry: Industrial Automation & Robotics
            secondary_industry: Private Capital Markets
            company_names:
              - name: Tesla
                website: https://www.tesla.com/
        count: 1
        total: 1
        limit: 10
        offset: 0
