{
  "openapi": "3.1.0",
  "info": {
    "title": "Akta Company News API",
    "summary": "Structured company news API for AI workflows, agents, and enterprise news intelligence.",
    "description": "Akta is a structured company news API by Wokelo AI.\n\nThe Company News Monitoring endpoint returns recent company news articles enriched\nwith AI summaries, event categories, publisher metadata, sentiment, company\nmentions, geography, industry tags, and article text.\n\nThis OpenAPI description documents the public Akta Company News Monitoring API.\n",
    "version": "1.1.0",
    "contact": {
      "name": "Wokelo AI",
      "url": "https://akta.wokelo.ai/",
      "email": "sales@wokelo.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.akta.pro",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company News",
      "description": "Fetch structured company news with summaries, metadata, sentiment, tags, and article text."
    }
  ],
  "paths": {
    "/api/v1/company/news/": {
      "get": {
        "operationId": "getCompanyNews",
        "tags": [
          "Company News"
        ],
        "summary": "Fetch company news",
        "description": "Returns recent news articles for a company.\n\nThe `company` query can be a company slug, company name, or company website URL.\nResults are returned synchronously in the HTTP response. Use `limit` and\n`offset` to paginate larger result sets.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Company"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Blacklisted"
          }
        ],
        "responses": {
          "200": {
            "description": "Company news returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyNewsResponse"
                },
                "examples": {
                  "companyNews": {
                    "$ref": "#/components/examples/CompanyNewsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued from the Akta Playground."
      }
    },
    "parameters": {
      "Company": {
        "name": "company",
        "in": "query",
        "required": true,
        "description": "Company name, company slug, or valid company URL for which news articles should be fetched.",
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "companyName": {
            "value": "tesla"
          },
          "companySlug": {
            "value": "wokelo-ai"
          },
          "companyUrl": {
            "value": "https://www.tesla.com/"
          }
        }
      },
      "StartDate": {
        "name": "start_date",
        "in": "query",
        "required": false,
        "description": "Start date for the news timeframe, formatted as YYYY-MM-DD.",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "example": "2026-03-01"
      },
      "EndDate": {
        "name": "end_date",
        "in": "query",
        "required": false,
        "description": "End date for the news timeframe, formatted as YYYY-MM-DD.",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "example": "2026-05-05"
      },
      "Category": {
        "name": "category",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of news categories to include.",
        "schema": {
          "type": "string"
        },
        "example": "Capital Markets & Transactions,Strategic Developments,Leadership & Governance"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of news articles to return in the current response.",
        "schema": {
          "type": "integer",
          "default": 10,
          "minimum": 1,
          "maximum": 1000
        },
        "example": 10
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Number of records to skip before returning results. Use with limit for pagination.",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        },
        "example": 0
      },
      "Blacklisted": {
        "name": "blacklisted",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of publisher domains to exclude from results.",
        "schema": {
          "type": "string"
        },
        "example": "wokelo.ai"
      }
    },
    "schemas": {
      "CompanyNewsResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "status",
          "data",
          "count",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "Request status. Successful requests return success.",
            "enum": [
              "success"
            ],
            "example": "success"
          },
          "data": {
            "type": "array",
            "description": "Array of company news article objects.",
            "items": {
              "$ref": "#/components/schemas/CompanyNewsArticle"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of article objects returned in the current response.",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "Total number of articles matching the request filters.",
            "example": 15
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of articles requested for the current response.",
            "example": 2
          },
          "offset": {
            "type": "integer",
            "description": "Number of records skipped before the current response.",
            "example": 1
          }
        }
      },
      "CompanyNewsArticle": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ai_summary": {
            "type": "string",
            "description": "AI-generated summary of the article.",
            "example": "Tesla, GE Vernova, and IREN are highlighted as key energy stocks for watching."
          },
          "type": {
            "type": "string",
            "description": "Event type assigned to the article.",
            "example": "Equity Fund-Raising"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Source article URL.",
            "example": "https://www.defenseworld.net/2026/04/28/energy-stocks-to-keep-an-eye-on-april-26th.html"
          },
          "title": {
            "type": "string",
            "description": "Article headline.",
            "example": "Energy Stocks To Keep An Eye On - April 26th"
          },
          "company_name": {
            "type": "string",
            "description": "Primary company associated with the article.",
            "example": "Tesla"
          },
          "publisher": {
            "type": "string",
            "description": "Publisher or source domain label.",
            "example": "defenseworld"
          },
          "published_date": {
            "type": "string",
            "description": "Publication timestamp returned by the API.",
            "example": "2026-04-28 05:05:05"
          },
          "author": {
            "type": "string",
            "description": "Article author, when available.",
            "example": "Defense World Staff"
          },
          "countries": {
            "type": "array",
            "description": "Countries associated with the article.",
            "items": {
              "type": "string"
            },
            "example": [
              "USA",
              "CHN",
              "AUS"
            ]
          },
          "sentiment": {
            "type": "string",
            "description": "Sentiment classification for the article.",
            "example": "Neutral"
          },
          "company_names": {
            "type": "array",
            "description": "Companies mentioned in the article, with name and website where available.",
            "items": {
              "$ref": "#/components/schemas/CompanyReference"
            }
          },
          "primary_tag": {
            "type": "string",
            "description": "Primary news category or event tag assigned to the article.",
            "example": "Equity Fund-Raising"
          },
          "original_language": {
            "type": "string",
            "description": "Original language code for the article.",
            "example": "EN"
          },
          "secondary_tags": {
            "type": "array",
            "description": "Additional categories or event tags assigned to the article.",
            "items": {
              "type": "string"
            },
            "example": [
              "Market Indices Performance"
            ]
          },
          "newsworthiness_impact": {
            "type": "string",
            "description": "Estimated impact level of the article.",
            "example": "Medium"
          },
          "primary_industry": {
            "type": "string",
            "description": "Primary industry classification associated with the article.",
            "example": "Retail Supply + DER/Virtual Power Plant Bundles (Solar, Storage, DR)"
          },
          "secondary_industry": {
            "type": "array",
            "description": "Additional industry classifications associated with the article.",
            "items": {
              "type": "string"
            },
            "example": [
              "Electrical Systems O&M (Substations, Transformers, Switchgear, Protection & Controls)",
              "Risk Management & Hedging for Renewables (Price/Volume/Shape Risk, VaR)"
            ]
          },
          "scraped_text": {
            "type": "string",
            "description": "Extracted article text.",
            "example": "Tesla, GE Vernova, and IREN are the three Energy stocks to watch today..."
          }
        }
      },
      "CompanyReference": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "Company name.",
            "example": "Tesla"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "Company website URL when available.",
            "example": "https://www.tesla.com/"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message returned by the API.",
            "example": "An unexpected error occurred. Please try again later."
          },
          "detail": {
            "type": "string",
            "description": "Error detail returned by the API.",
            "example": "Missing API key"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message, when returned by the API.",
            "example": "Request could not be processed."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingApiKey": {
                "value": {
                  "detail": "Missing API key"
                }
              },
              "invalidApiKey": {
                "value": {
                  "detail": "Invalid API key"
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Unexpected server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unexpected": {
                "value": {
                  "error": "An unexpected error occurred. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "CompanyNewsResponse": {
        "summary": "Company news response",
        "value": {
          "status": "success",
          "data": [
            {
              "ai_summary": "Tesla, GE Vernova, and IREN are highlighted as key energy stocks for watching, with Tesla involved in electric vehicles and energy systems, GE Vernova in electricity generation across multiple segments, and IREN operating bitcoin mining data centers. These companies represent diverse sectors within the energy industry.",
              "type": "Equity Fund-Raising",
              "url": "https://www.defenseworld.net/2026/04/28/energy-stocks-to-keep-an-eye-on-april-26th.html",
              "title": "Energy Stocks To Keep An Eye On - April 26th",
              "company_name": "Tesla",
              "publisher": "defenseworld",
              "published_date": "2026-04-28 05:05:05",
              "author": "Defense World Staff",
              "countries": [
                "USA",
                "CHN",
                "AUS"
              ],
              "sentiment": "Neutral",
              "company_names": [
                {
                  "name": "Tesla",
                  "website": "http://tesla-pa.com/"
                },
                {
                  "name": "GE Vernova",
                  "website": "https://www.gevernova.com"
                },
                {
                  "name": "IREN",
                  "website": "https://iren.com"
                }
              ],
              "primary_tag": "Equity Fund-Raising",
              "original_language": "EN",
              "secondary_tags": [
                "Market Indices Performance"
              ],
              "newsworthiness_impact": "Medium",
              "primary_industry": "Retail Supply + DER/Virtual Power Plant Bundles (Solar, Storage, DR)",
              "secondary_industry": [
                "Electrical Systems O&M (Substations, Transformers, Switchgear, Protection & Controls)",
                "Risk Management & Hedging for Renewables (Price/Volume/Shape Risk, VaR)"
              ],
              "scraped_text": "Tesla, GE Vernova, and IREN are the three Energy stocks to watch today..."
            }
          ],
          "count": 1,
          "total": 15,
          "limit": 2,
          "offset": 1
        }
      }
    }
  }
}